.App {
  text-align: center;
  display: flex;
  margin: 30px;
  justify-content: space-between;
  flex-direction: column-reverse;
  width: 100%;
}

.col-6 {
  flex: 1;
  position: relative;
}

.navigate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
    position: absolute;
    bottom: 15%;
    left: 4.2%;
    color: red;
    font-weight: 500;
}

@media screen and (min-width: 900px) {
  .App {
    flex-direction: initial;
    margin: 50px;
  }

  .navigate {
    align-items: center;
  }

}